body {
  font-family: "Open Sans";
  background-color: rgba(245, 245, 220, 0.393);
  margin: 25px;
  max-width: 1280px;
  color: rgb(43, 70, 71);
}
.contact__container {
  align-items: center;

  img {
    width: 20%;
  }
}
a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    color: rgb(140, 86, 70);
  }
}

.container {
  border-top: 1px solid rgba(128, 128, 128, 0.396);
}

footer {
  border-top: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
